body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 221, 158);
}
div#principal{
    text-align: center;
}
header{
    background-color: rgb(0, 153, 102);
    color: white;
    padding: 40px;
  
}
main{
    background-color: white;
    padding: 60px;
    margin: 50px ;
    }
    h1{
        text-align: center;
    }
     h2{
         color: rgb(5, 146, 99);
     }
