
        /*
        SELETORES PERSONALIZADOS
        #=ID
        .=CLASS
        :=PSEUDO CLASS
        ::=PSEUDO ELEMENT
        >=CHILDREN
        */
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        a{
            color: rgb(179, 114, 240);
            text-decoration: none;
            font-weight: bold;
        }
        a:visited{
            color: rgb(247, 9, 60);
        }
        a:hover{
            color: aquamarine;
            text-decoration: underline;
        }
        a:active{
            color: blue;
        }
        a::before{
            content:'→'; ;
        }
        .especial{
            background-color: blueviolet;
        }
        a::after{
            content:'♥';
            text-decoration: none;
            font-weight: normal;
            color: crimson;

        }
    